<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sise.ccj.mapper.MovieMapper">
    <sql id="Base_Column_List">
        id,name,title,content,price,vip_price,actor,director,up_time,down_time,create_time,update_time,status,deleted,img_url
    </sql>
    <insert id="addMovie">
        INSERT INTO ${dbPrefix}.movie
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="title != null">
                title,
            </if>
            <if test="content != null">
                content,
            </if>
            <if test="price != null">
                price,
            </if>
            <if test="vipPrice != null">
                vip_price,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="upTime != null">
                up_time,
            </if>
            <if test="actor != null">
                actor,
            </if>
            <if test="director != null">
                director,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="deleted != null">
                deleted,
            </if>
            <if test="imgUrl != null">
                img_url,
            </if>
        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id = #{id},
            </if>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="title != null">
                title = #{title},
            </if>
            <if test="content != null">
                content = #{content},
            </if>
            <if test="price != null">
                price = #{price},
            </if>
            <if test="vipPrice != null">
                vip_price = #{vipPrice},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="upTime != null">
                up_time = #{upTime},
            </if>
            <if test="actor != null">
                actor = #{actor},
            </if>
            <if test="director != null">
                director = #{director},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="deleted != null">
                deleted = #{deleted},
            </if>
            <if test="imgUrl">
                img_url = #{imgUrl}
            </if>
        </trim>
    </insert>
    <insert id="insertUpdate">
        INSERT INTO ${dbPrefix}.movie
        <trim prefix="(" suffix=")" suffixOverrides=",">
            id,
            <if test="name != null">
                name,
            </if>
            <if test="title != null">
                title,
            </if>
            <if test="content != null">
                content,
            </if>
            <if test="price != null">
                price,
            </if>
            <if test="vipPrice != null">
                vip_price,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="upTime != null">
                up_time,
            </if>
            <if test="downTime != null">
                down_time,
            </if>
            <if test="actor != null">
                actor,
            </if>
            <if test="director != null">
                director,
            </if>
            <if test="deleted != null">
                deleted,
            </if>
            <if test="imgUrl != null">
                img_url,
            </if>
            <if test="info != null">
                info,
            </if>
        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
            #{id},
            <if test="name != null">
                #{name},
            </if>
            <if test="title != null">
                #{title},
            </if>
            <if test="content != null">
                #{content},
            </if>
            <if test="price != null">
                #{price},
            </if>
            <if test="vipPrice != null">
                #{vipPrice},
            </if>
            <if test="status != null">
                #{status},
            </if>
            <if test="upTime != null">
                #{upTime},
            </if>
            <if test="downTime != null">
                #{downTime},
            </if>
            <if test="actor != null">
                #{actor},
            </if>
            <if test="director != null">
                #{director},
            </if>
            <if test="deleted != null">
                #{deleted},
            </if>
            <if test="imgUrl != null">
                #{imgUrl},
            </if>
            <if test="info != null">
                #{info},
            </if>
        </trim>
        ON DUPLICATE KEY UPDATE
        <trim suffixOverrides=",">
            <if test="name != null">
                name = values(name),
            </if>
            <if test="title != null">
                title = values(title),
            </if>
            <if test="content != null">
                content = values(content),
            </if>
            <if test="price != null">
                price = values(price),
            </if>
            <if test="vipPrice != null">
                vip_price = values(vip_price),
            </if>
            <if test="status != null">
                status = values(status),
            </if>
            <if test="upTime != null">
                up_time = values(up_time),
            </if>
            <if test="downTime != null">
                down_time = values(down_time),
            </if>
            <if test="actor != null">
                actor = values(actor),
            </if>
            <if test="director != null">
                director = values(director),
            </if>
            <if test="deleted != null">
                deleted = values(deleted),
            </if>
            <if test="imgUrl != null">
                img_url = values(img_url)
            </if>
            <if test="info != null">
                info = values(info)
            </if>
        </trim>
    </insert>
    <update id="updateMovie">
        UPDATE ${dbPrefix}.movie
        <trim prefix="SET" suffixOverrides=",">
            <if test="id != null">
                id = #{id},
            </if>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="title != null">
                title = #{title},
            </if>
            <if test="content != null">
                content = #{content},
            </if>
            <if test="price != null">
                price = #{price},
            </if>
            <if test="vip_price != null">
                vip_price = #{price},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="upTime != null">
                up_time = #{upTime},
            </if>
            <if test="actor != null">
                actor = #{actor},
            </if>
            <if test="director != null">
                director = #{director},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="deleted != null">
                deleted = #{deleted},
            </if>
            <if test="imgUrl != null">
                img_url = #{imgUrl},
            </if>
        </trim>
    </update>
    <delete id="delMovie">
        UPDATE ${dbPrefix}.movie
          SET deleted = 1 WHERE id = #{id}
    </delete>
    <select id="queryMovieById" resultType="com.sise.ccj.pojo.common.MoviePO">
        SELECT <include refid="Base_Column_List"/> FROM ${dbPrefix}.movie
        WHERE id = #{id}
        AND deleted = 0
    </select>

    <select id="queryMovie" resultType="com.sise.ccj.pojo.common.MoviePO">
        SELECT <include refid="Base_Column_List"/> FROM ${dbPrefix}.movie
        WHERE deleted = 0 AND status != 2
        <if test="downTime != null">
            AND down_time $lt;= #{downTime}
        </if>
    </select>

    <select id="queryMovie2" resultType="com.sise.ccj.pojo.common.MoviePO">
        SELECT <include refid="Base_Column_List"/> FROM ${dbPrefix}.movie
        WHERE deleted = 0
        <if test="status != null">
            AND status = #{status}
        </if>
        <if test="startTime != null and endTime != ''">
            AND create_time &gt;= #{startTime}
        </if>
        <if test="endTime != null and endTime != ''">
            AND create_time &lt;= #{endTime}
        </if>
        <if test="name != null">
            AND name LIKE CONCAT('%', #{name},'%')
        </if>
        ORDER BY create_time DESC
    </select>

    <select id="loadMovie" resultType="com.sise.ccj.pojo.common.MoviePO">
        SELECT <include refid="Base_Column_List"/> FROM ${dbPrefix}.movie
        WHERE deleted = 0 AND status = 1 ORDER BY create_time DESC
    </select>

</mapper>