<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sise.ccj.mapper.OpenOrderMapper">
    <sql id="Base_Column_List">
        id,info,type,model,url,status,create_time,update_time
    </sql>
    <insert id="insertUpdate">
        INSERT INTO ${dbPrefix}.open_order
        <trim prefix="(" suffix=")" suffixOverrides=",">
            id,
            <if test="info != null">
                info,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="model != null">
                model,
            </if>
            <if test="url != null">
                url,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="VALUES(" suffix=")" suffixOverrides=",">
            #{id},
            <if test="info != null">
                #{info},
            </if>
            <if test="type != null">
                #{type},
            </if>
            <if test="model != null">
                #{model},
            </if>
            <if test="url != null">
                #{url},
            </if>
            <if test="status != null">
                #{status},
            </if>
            <if test="createTime != null">
                #{createTime},
            </if>
            <if test="updateTime != null">
                #{updateTime},
            </if>
        </trim>
        ON DUPLICATE KEY UPDATE
        <trim suffixOverrides=",">
            <if test="info != null">
                info = values(info),
            </if>
            <if test="type != null">
                type = values(type),
            </if>
            <if test="model != null">
                model = values(model),
            </if>
            <if test="url != null">
                url = values(url),
            </if>
            <if test="status != null">
                status = values(status),
            </if>
            <if test="createTime != null">
                create_time = values(create_time),
            </if>
            <if test="updateTime != null">
                update_time = values(update_time),
            </if>
        </trim>
    </insert>
    <select id="queryList" resultType="com.sise.ccj.pojo.common.OpenOrderPO">
        SELECT <include refid="Base_Column_List"/> FROM ${dbPrefix}.open_order WHERE status = #{status}
    </select>
    <select id="queryById" resultType="com.sise.ccj.pojo.common.OpenOrderPO">
        SELECT <include refid="Base_Column_List"/> FROM ${dbPrefix}.open_order WHERE id = #{id}
    </select>

</mapper>